header {
    top: 0;
    position: fixed;
    width: 100%;
}


body {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

.quiz-button {
    color: white;
    background-color: darkviolet;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    padding: 20px;
    width: 25%;
}

.quiz-button:hover {
    background-color: darkmagenta;
}

#highscores {
    margin-left: 50px;
    float: left;
}

#timer {
    margin-right: 50px;
    float: right;
}

.container {
    text-align: center;
    margin-top: 150px;
}

.show {
    display: inline;
}

.hide {
    display: none;
}

.second-hide {
    display: none;
}

a {
    text-decoration: none;
}

footer {
    bottom: 0;
    position: fixed;
    width: 100%;
}